table {

    width: 400px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    
}

table, td {
    border: 2px solid white;
    border-collapse: collapse;
    table-layout: fixed;
  }

td {
    width: 25%px;
    height: 25%px;
    background: rgb(255, 174, 0);
}

td {
    position: relative;
    color: white;
    text-align: center; 
    padding-top: 6px;
    vertical-align: middle;
    border-radius: 8px;
    font-size: 2em;
    font-family: "Teko";
    /* no text select for the cell numbers */
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}


[type='radio'] {
    display: none; 
}







